<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="form.css" />
    <title>New Message</title>
  </head>
  <body>
    <form action="/new" method="POST">
      <h3>New Message</h3>
      <label>
        Username
        <input id="name" name="username" type="text" />
      </label>
      <label>
        Message
        <input id="message" name="message" type="text" />
      </label>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
