<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <div class="container">
        <% messages.forEach(element => {%>
            <div class="message">
                <div class="user"> <%= element.user%></div>
                <div class="text"><%= element.text%></div>
                <div class="date"><%= element.date%></div>
            </div>
        <% });  %>
    </div>
  </body>
</html>
